In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('data.csv')

In [4]:
df = df[0:1000]

In [5]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit',
       'Unnamed: 5'],
      dtype='object')

In [6]:
df.drop(columns=['Unnamed: 5'], inplace=True)

In [7]:
a=df.copy()

In [8]:
a.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42         NaN  166187.94

In [9]:
a.isnull().sum()

R&D Spend          2
Administration     5
Marketing Spend    6
State              1
Profit             0
dtype: int64

In [10]:

null_columns=a.columns[a.isnull().any()]
a[null_columns].isnull().sum()

R&D Spend          2
Administration     5
Marketing Spend    6
State              1
dtype: int64

In [11]:
print(a[a["R&D Spend"].isnull()][null_columns])

     R&D Spend  Administration  Marketing Spend       State
294        NaN     123813.8344      243285.1957    New York
330        NaN     117934.9554      166477.4805  California

In [12]:
r_1=a[(a['State']=='New York') & (a['Marketing Spend']>240000) & (a['Marketing Spend']<250000) & 
      (a['Administration']>120000) & (a['Administration']<130000)]['R&D Spend'].mean()

r_2=a[(a['State']=='California') & (a['Marketing Spend']>160000) & (a['Marketing Spend']<170000) & 
      (a['Administration']>110000) & (a['Administration']<120000)]['R&D Spend'].mean()

print(r_1 , r_2)

91323.07142857143 49339.125

In [13]:
a.at[294,'R&D Spend']=91323
a.at[330,'R&D Spend']=49339

In [14]:
print(a[a["Administration"].isnull()][null_columns])

     R&D Spend  Administration  Marketing Spend       State
34    46426.07             NaN     210797.67000  California
35    46014.02             NaN     205517.64000    New York
68    53116.00             NaN     171266.50620     Florida
90    17125.00             NaN     101821.77340  California
242    2603.00             NaN      73801.53479    New York

In [15]:
ad_1=a[(a['State']=='New York') & (a['Marketing Spend']>200000) & (a['Marketing Spend']<210000) 
       & (a['R&D Spend']<80000) ]['Administration'].mean()

ad_2=a[(a['State']=='New York') & (a['Marketing Spend']>70000) & (a['Marketing Spend']<80000) 
       & (a['R&D Spend']<80000) ]['Administration'].mean()

ad_3=a[(a['State']=='California') & (a['Marketing Spend']>100000) & (a['Marketing Spend']<110000) 
       & (a['R&D Spend']>10000)  & (a['R&D Spend']<20000) ]['Administration'].mean()

ad_4=a[(a['State']=='California') & (a['Marketing Spend']>205000) & (a['Marketing Spend']<215000) 
        &(a['R&D Spend']<80000) ]['Administration'].mean()

ad_5=a[(a['State']=='Florida') & (a['Marketing Spend']>170000) & (a['Marketing Spend']<180000) 
        &(a['R&D Spend']<80000) ]['Administration'].mean()


ad_5

118568.96514285714

In [16]:
print( ad_1 , ad_2 , ad_3,ad_4,ad_5)

120931.23234285715 110943.83704545452 113081.99163333332 121270.11567000001 118568.96514285714

In [17]:
a.at[34,'Administration']=120931
a.at[35,'Administration']=110943
a.at[68,'Administration']=113081
a.at[90,'Administration']=121270
a.at[242,'Administration']=118568

In [18]:
print(a[a["Marketing Spend"].isnull()][null_columns])

     R&D Spend  Administration  Marketing Spend       State
37    44069.95      51283.1400              NaN  California
71   111768.00     126963.5030              NaN    New York
100   44017.00     116957.7267              NaN    New York
199   52714.00     118242.1392              NaN  California
345   60170.00     119343.2753              NaN  California
356    7959.00     111632.5170              NaN    New York

In [19]:
m_1=a[(a['State']=='New York') & (a['Administration']>110000) & (a['Administration']<125000) 
        &(a['R&D Spend']<80000) ]['Marketing Spend'].mean()

m_2=a[(a['State']=='New York') & (a['Administration']>110000) & (a['Administration']<125000) 
        &(a['R&D Spend']<120000) &(a['R&D Spend']>110000)]['Marketing Spend'].mean()

m_3=a[(a['State']=='California') & (a['Administration']>110000) & (a['Administration']<120000) 
        &(a['R&D Spend']<80000) ]['Marketing Spend'].mean()

m_4=a[(a['State']=='California') & (a['Administration']>50000) & (a['Administration']<100000) 
        &(a['R&D Spend']<80000) ]['Marketing Spend'].mean()

m_4

161500.205

In [20]:
print(m_1,m_2,m_3,m_4)

146628.15352202446 261776.23 135644.49235351142 161500.205

In [21]:
a.at[71,'Marketing Spend']=261776
a.at[100,'Marketing Spend']=146628
a.at[356,'Marketing Spend']=146628
a.at[199,'Marketing Spend']=135644
a.at[345,'Marketing Spend']=135644
a.at[37,'Marketing Spend']=161500

In [22]:
print(a[a["State"].isnull()][null_columns])

   R&D Spend  Administration  Marketing Spend State
4  142107.34        91391.77        366168.42   NaN

In [23]:
a.drop([4] , inplace=True)

In [24]:
a.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [25]:
a.to_csv("C:/Users/shrey/top mentor/assignment 9- mul lin reg/datafinal.csv")

In [26]:
a.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count     999.000000      999.000000       999.000000     999.000000
mean    81608.014875   122995.423685    225978.008910  119499.476192
std     46522.574961    12474.851950     91516.946113   42884.683020
min         0.000000    51283.140000         0.000000   14681.400000
25%     43081.000000   116675.870700    149552.847250   85909.667605
50%     79898.000000   122417.624700    224192.766100  117637.622000
75%    124232.000000   129123.684950    307741.199150  155471.623900
max    165349.200000   321652.140000    471784.100000  476485.430000